---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyCKbnuUSu-J5-j0QHIj59mvnbk-456ivmI&placeid=ChIJj9dEC-9YdhwRTDw4wzsEnt4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "Swakopmund",
                    "short_name" : "Swakopmund",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "Erongo Region",
                    "short_name" : "Erongo Region",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "Namibia",
                    "short_name" : "NA",
                    "types" : [ "country", "political" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"locality\"\u003eSwakopmund\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eNamibia\u003c/span\u003e",
              "formatted_address" : "Swakopmund, Namibia",
              "geometry" : {
                 "location" : {
                    "lat" : -22.6467427,
                    "lng" : 14.6004911
                 },
                 "viewport" : {
                    "northeast" : {
                       "lat" : -22.5848506,
                       "lng" : 14.6751594
                    },
                    "southwest" : {
                       "lat" : -22.6906461,
                       "lng" : 14.5199991
                    }
                 }
              },
              "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
              "id" : "9e214a5793de0d1df4388edcbd9a2f9c5b7c11d0",
              "name" : "Swakopmund",
              "photos" : [
                 {
                    "height" : 3264,
                    "html_attributions" : [
                       "\u003ca href=\"https://maps.google.com/maps/contrib/101147451985063940121/photos\"\u003eOlga Ernst\u003c/a\u003e"
                    ],
                    "photo_reference" : "CmRaAAAAJWQGovYIOHLJKBoBcjYwWWJ2jxeFqqVAuigH0I2-mMSE2IXoC4l_DQhr-Tyi8Wm4mSF1fseiakGsWIAe5Daqb8v5e8wmfxvuYNrTSogUdNKZKTcbbl-UEMfvenGLbvPDEhAmSRxzrP5MFc1kjUNWImQ6GhRCKcfuyJtKR-wWgnKoPz99mlnFSA",
                    "width" : 4928
                 },
                 {
                    "height" : 3264,
                    "html_attributions" : [
                       "\u003ca href=\"https://maps.google.com/maps/contrib/101147451985063940121/photos\"\u003eOlga Ernst\u003c/a\u003e"
                    ],
                    "photo_reference" : "CmRaAAAA1KgtjTshC1L5rrNrgDcY09B8WdDv3rSXueIMA1Rp2TXGN3I6lMo2CoBuF4tTNXiqdn49QoBbMjahsy9m3ieqp1P8nbEF-0folOyeHrGZ_VwwfNoBbsSa3Dryz8gBpkQPEhC59J8IMNm6EgrFwpBc-RxbGhTiNTi8AXI_[...]
