<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to new_trip_path, class: "nav-link active" do %>
      Trips <i class="fas fa-plus-circle"></i>
    <% end %>
  </li>
</ul>

<br>

<% @trips.select { |trip| trip.start_date.present? }.group_by(&:start_date).each do |date, trips| %>
  <h3><%= date.strftime("%B %Y") %></h3>
  <%= render partial: "list_group", locals: { models: trips } %>
  <br />
<% end %>

<% if @trips.select { |trip| trip.start_date.nil? }.any? %>
  <h3>Trips without dates</h3>
  <%= render partial: "list_group", locals: { models: @trips.select { |trip| trip.start_date.nil? } } %>
<% end %>
