<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to new_trip_path, class: "nav-link active" do %>
      Trips <i class="fas fa-plus-circle"></i>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to 'Places', pois_path, class: "nav-link" %>
  </li>
</ul>

<br>

<ul class="list-group">
  <% @trips.each do |trip| %>
    <li class="list-group-item">
      <%= link_to trip.title, trip %>
    </li>
  <% end %>
</ul>
