<h1>
  <%= @trip.title %>
    <small>
      <%= link_to edit_trip_path(@trip) do %>
      <i class="fas fa-edit fa-xs"></i>
      <% end %>
    </small>
</h1>


<h3>Places</h3>

<% if @trip.pois.any? %>
  <%= render "poi_list", pois: @trip.pois %>
<% else %>
  <p>No Places</p>
<% end %>

<br>
<%= link_to 'Back', trips_path, class: "btn btn-primary" %>
