<h1 class="display-4">
  <%= @trip.title %>  
  <small>
    <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-primary btn-sm" %>
  </small>
</h1>

<% if @trip.pois.any? %>
  <%= render "poi_list", pois: @trip.pois %>
<% else %>
  <p>No Places</p>
<% end %>
