@import '../shared/breakpoints.scss';

.container {
  div[class*=this-is-the-map] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  @media (max-width: $mobile-breakpoint) {}
}

.content {
  position: absolute;
  background: white;
  padding: 10px;
  margin: 10px;
  max-height: 90vh;
  width: 400px;
  overflow: scroll;

  @media (max-width: $mobile-breakpoint) {
    bottom: 0;
    padding: 0;
    margin: 0;
    max-height: 40%;
    min-width: 100%;
  }
}
