<div class="list-group mapquest-search-results">
  <% places.each do |place| %>
    <%= content_tag(:li, class: ['list-group-item', 'list-group-item-action', 'flex-column', 'align-items-start', 'mapquest-search-result'],
                    data: { osm_id: place[:osm_id], osm_type: place[:osm_type], osm_display_name: place[:display_name] }
    ) do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= place[:display_name] %></h5>
      </div>
    <% end %>
  <% end %>
</div>
