<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Trips', trips_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to new_poi_path, class: "nav-link active" do %>
      Places <i class="fas fa-plus-circle"></i>
    <% end %>
  </li>
</ul>


<br>


<ul class="list-group">
  <% @pois.each do |poi| %>
    <li class="list-group-item">
      <%= link_to poi.title, poi %>
    </li>
  <% end %>
</ul>
