<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="devise-container">
      <%= yield %>
    </div>
  </body>
</html>
